.budget-bg{
    /* background-image: linear-gradient(#eb01a5, #d13531), url('../../img/budget.jpg'); */
    background-image: linear-gradient(to bottom, rgba(202, 202, 202, 0.123), rgba(243, 243, 243, 0.089)),url('../../img/budget.jpg');
    background-repeat: no-repeat;
    background-size: auto;
 }
 .budget-icon{
     background-color: red;
     height: 70px;
     width: 70px;
     border-radius: 50%;
     color: white;
     padding-top: 10px;
     margin: 0 5px;
 }
 .budget-icon:hover{
     background-color: turquoise;
 }