.nav-style a {
    text-decoration: none;
    padding: 3px 5px 0 5px;
    font-size: 22px;
    color: black;
}
.border-custom{
    border-right: 2px solid black;
    margin: 0 5px;
    line-height: 10px;
    
}
